<div class="lout">
  <div class="box-actions flex content-center mb-3">
    <div class="position-relative flex">
      <button matRipple matRippleColor="rgba(255, 255, 255, .2)" class="c-btn choose-btn">
        Chọn ảnh
        <input class="file-input" type="file" #imgSource (change)="onFile($event)" />
      </button>
      <button matRipple matRippleColor="rgba(255, 255, 255, .2)" class="c-btn opt-btn" (click)="getFromOther = true">
        <mat-icon class="rotate-90">arrow_forward_ios</mat-icon>
      </button>
      <div class="open-option position-absolute top-100 w-100 start-0" *ngIf="getFromOther">
        <label for="url">từ URL</label>
        <input #getByUrl type="text" id="url" class="get-from-url mt-2" (keyup.enter)="getImageFromUrl(getByUrl.value)" (keyup)="handleKeyUp($event)" />
        <div class="flex content-end mt-3">
          <button mat-raised-button (click)="getImageFromUrl(getByUrl.value)">Lấy</button>
          <button cdkTrapFocus class="ms-3" mat-raised-button (click)="getFromOther = false; getByUrl.value = ''">Đóng</button>
        </div>
      </div>
    </div>
  </div>
  <div #inputZone dropFile (files)="onFileDropped($event)" class="drop-zone input-zone position-relative">
    <div
      [class.none-ready]="!ready"
      [style.height]="!ready ? '300px' : 'fit-content'"
      #selectZone
      class="img-select-zone"
      (mousedown)="onDown($event)"
      (mousemove)="onMove($event)"
      (mouseup)="onUp()"
    >
      <canvas #canvas></canvas>
    </div>
    <span *ngIf="!ready" class="position-absolute translate-middle top-50 start-50">
      <svg class="drop-icon"><use xlink:href="#drop" /></svg>
    </span>
  </div>

  <div class="flex my-3">
    <button *ngIf="filled" mat-raised-button color="primary" (click)="cutFrom()">Xem trước</button>
    <div *ngIf="downloadAvailable" class="download-buttons box-actions flex ms-3">
      <button (click)="download()" matRipple matRippleColor="rgba(255, 255, 255, .2)" class="c-btn choose-btn download">Tải xuống (.{{ fileTypes[typeDefault].label }})</button>
      <button [matMenuTriggerFor]="imageType" matRipple matRippleColor="rgba(255, 255, 255, .2)" class="c-btn opt-btn download-type">
        <mat-icon class="rotate-90 fis">arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>

  <div class="preview-zone" [class.preview-available]="downloadAvailable">
    <canvas #cutter></canvas>
  </div>
</div>
<mat-menu #imageType>
  <button *ngFor="let file of fileTypes; index as i" mat-menu-item [class.selected]="typeDefault === i" class="menu-item-selection position-relative" (click)="changeType(file, i)">
    {{ file.label }}
    <mat-icon *ngIf="typeDefault === i" class="position-absolute top-50 translate-middle-y selected-icon">done</mat-icon>
  </button>
</mat-menu>
