/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/bootstrap.min.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: unset;
}

@keyframes boxBorderAnimation {
  0% {
    background-position: 0 0, -20px 0, 100% -20px, 0 100%;
  }
  100% {
    background-position: 0 -20px, 0 0, 100% 0, -20px 100%;
  }
}
textarea {
  &::-webkit-scrollbar {
    background: transparent;
    width: 16px;
  }
  &::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #9d9d9d;
  }
}

.reset-style-icon {
  margin: 0 !important;
}

.invalid-f {
  border-color: #f44336 !important;
}

.scrollbar-apls {
  &::-webkit-scrollbar {
    background: transparent;
    width: 16px;
  }
  &::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #9d9d9d;
  }
}

:root {
  --clr-border: #adadad;
  --AnimationLength: 0px;
  --transition-song-effect: 0.2s;
  --mat-primary-color: #3f51b5;
  --mat-accent-color: #ff4081;
  --mat-warn-color: #f44336;
  --icon-normal-color: #000;
  --text-normal-color: #000;
}

.rest-spacer {
  flex: 1 1 auto;
}

.img-select-zone {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  border: 1px solid rgba(63, 81, 181, 0.3);
}

.trash-zone-overlay {
  position: absolute;
  inset: 0;
  opacity: 0.3;
  border-color: #0084ff;
  border-style: solid;
  pointer-events: none;
}

.select-zone {
  position: absolute;
  border: 1px solid rgba(0, 132, 255, 0.753);
  background-color: rgba(0, 132, 255, 0.2);
  pointer-events: none;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-repeat: no-repeat;
}

.select-zone.selected {
  border: none;
  background-color: transparent;
  background-image: repeating-linear-gradient(0deg, var(--clr-border), var(--clr-border) 10px, transparent 10px, transparent 20px),
    repeating-linear-gradient(90deg, var(--clr-border), var(--clr-border) 10px, transparent 10px, transparent 20px),
    repeating-linear-gradient(180deg, var(--clr-border), var(--clr-border) 10px, transparent 10px, transparent 20px),
    repeating-linear-gradient(270deg, var(--clr-border), var(--clr-border) 10px, transparent 10px, transparent 20px);
  background-size: 1px calc(100% + 20px), calc(100% + 20px) 1px, 1px calc(100% + 20px), calc(100% + 20px) 1px;
  -webkit-animation: boxBorderAnimation 1s infinite linear;
  animation: boxBorderAnimation 1s infinite linear;
}

input[type='file'] {
  cursor: pointer !important;
}

button {
  cursor: pointer !important;
  &:focus {
  }
}

.menu-item-selection {
  min-height: 38px !important;
  &.selected {
    background-color: rgba(10, 88, 202, 0.05);
    .mat-mdc-menu-item-text {
      color: #3f51b5;
    }
  }
  .mat-mdc-menu-item-text {
    font-size: 13px !important;
  }
}

.drop-zone {
  min-height: 300px;
  height: 100%;
}

.file-dragging {
  border-radius: 4px;
  border: 1px dashed #3f51b5;
  background-color: rgba(63, 81, 181, 0.1);
  .img-select-zone {
    border: none;
  }
  .drop-icon {
    fill: #3f51b5 !important;
  }
}

.ic-size-xl {
  font-size: 35px;
  height: 35px !important;
  width: 35px !important;
}

.ic-size-xxl {
  font-size: 40px;
  height: 40px !important;
  width: 40px !important;
}

.mat-mdc-slider {
  .mdc-slider__thumb-knob {
    border-width: 7px !important;
    width: unset !important;
    height: unset !important;
  }
  .mdc-slider__track--active {
    height: 4px !important;
    top: unset !important;
  }
}

.mat-mdc-slide-toggle .mdc-switch .mdc-switch__icons .mdc-switch__icon--off {
  display: none;
}
